<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ripple.ia</title>
</head>

<body>
    <header class="flex bg-white h-30 justify-between">
        <img class="w-32 h-22 ml-14" src="/static/aa.jpeg" alt="mariposita">
        <nav>
            <ul class="flex mr-16 mt-11 gap-8 font-bold">
                <li class="hover:text-2xl hover:text-sky-600">
                    <a href="#HOME"> HOME </a>
                </li>
                <li class="hover:text-2xl hover:text-sky-600">
                    <a href="#WHY">WHY</a>
                </li>
                <li class="hover:text-2xl hover:text-sky-600">
                    <a href="#REASONS">REASONS</a>
                </li>
                <li class="hover:text-2xl hover:text-sky-600">
                    <a href="#RIPPLE">RIPPLE</a>
                </li>
                <li class="hover:text-2xl hover:text-sky-600">
                    <a href="#ABOUT US">ABOUT US</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="HOME" class="h-screen bg-[#ACA7FA] flex flex-col justify-center text-center">
            <img class="absolute" src="/static/a.png" alt="manchita">
            <img class="absolute h-96" src="/static/5.png" alt="d">
                <div class="w-full relative">
                    <h2 class="text-xl font-semibold"> DISMINUÍ LA BRECHA DE GÉNERO EN PARAGUAY </h2>
                    <h1 class="font-['Noto_Serif_Display'] text-[3rem] font-weight[800]"> Eres increíble, no dudes de ti misma </h1>
                    <a href="#Click here!"><button class="bg-violet-950 h-12 w-32 mt-5 text-white rounded-full hover:text-sky-600"> Click here!</button></a>
                </div>
        </section>

        <section id="WHY" class="h-screen bg-[#ACA7FA] flex flex-col justify-center text-center">
            <img class="absolute" src="/static/b.png" alt="jeje">
            <img class="absolute h-96 ml-32" src="/static/3.png" alt="o">
                <div class="w-full relative">
                    <h1 class="right-44 font-['Noto_Serif_Display'] text-[6rem] font-weight[800]"> ¿Qué es </h1>
                    <h2 class="text-xl font-bold pe-44"> LA BRECHA DE </h2>
                    <h3 class="text-2xl ml-96 font-['Noto_Serif_Display'] text-[6rem] font-weight[800];"> género? </h3>
                </div>
        </section>

        <section id="REASONS" class="h-screen bg-[#ACA7FA] flex flex-col justify-center text-center">
            <img class="absolute" src="/static/a.png" alt="jeje">
                <div class="w-full relative">
                    <h1 class="ml-96 font-['Noto_Serif_Display'] text-[6rem] font-weight[800]">  </h1>
                    <h2 class="text-xl font-bold">  </h2>
                    <h3 class="ml-96 font-['Noto_Serif_Display'] text-[6rem] font-weight[800];">  </h3>
                </div>
        </section>

        <section id="RIPPLE" class="h-screen bg-[#ACA7FA] flex flex-col justify-center text-center">
            <img class="absolute" src="/static/b.png" alt="jeje">
                <div class="w-full relative">
                    <h1 class="ml-96 font-['Noto_Serif_Display'] text-[6rem] font-weight[800]">  </h1>
                    <h2 class="text-xl font-bold">  </h2>
                    <h3 class="ml-96 font-['Noto_Serif_Display'] text-[6rem] font-weight[800];">  </h3>
                </div>
        </section>

        <section id="ABOUT US" class="h-screen bg-[#ACA7FA] flex flex-col justify-center text-center">
            <img class="absolute" src="/static/a.png" alt="jeje">
                <div class="w-full relative">
                    <h1 class="ml-96 font-['Noto_Serif_Display'] text-[6rem] font-weight[800]">  </h1>
                    <h2 class="text-xl font-bold">  </h2>
                    <h3 class="ml-96 font-['Noto_Serif_Display'] text-[6rem] font-weight[800];">  </h3>
                </div>
        </section>

        <section id="Click here!" class="flex flex-col bg-white h-40 justify-center items-center">
            <img class="w-36 h-32 mt-24" src="/static/Irus Girls.png" alt="mujeres">
            <div class="flex flex-col mb-20">
                <h2 class="text-2xl font-semibold"> Contactanos! </h2>
                <h3> (+595) 981 383 146 </h3>
            </div>
        </section>

    </main> 



</body>
</html>